@use 'sass:meta';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css('./material-overrides');
@include meta.load-css('./global/containers');
@include meta.load-css('./global/colors');
@include meta.load-css('./global/buttons');
@include meta.load-css('./global/headings');
@include meta.load-css('./global/animations');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
