
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './material-overrides.scss';
@import './global/containers.scss';
@import './global/colors.scss';
@import './global/buttons.scss';
@import './global/headings.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
