@import '../styles/global/colors.scss';

.main-container {
  @apply bg-white absolute left-0 right-0;
  top: 67px;
  height: calc(100% - 67px);
}

.side-nav {
  @apply flex w-60;
  background-color: $nav-background-color;
}