
@switch (type) {
  @case ('card') {
    <div class="skeleton-card animate"></div>
  }
  @case ('text') {
    <div class="skeleton-card-text-height animate"></div>
  }
  @case ('paragraph') {
    <div class="w-full py-2 rounded-md animate">
      <div class="skeleton-text"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text-short"></div>
    </div>
  }
  @case ('profile') {
    <div class="flex w-full py-2 rounded-md animate">
      <span class="skeleton-profile-icon material-icons">
        account_circle
      </span>
      <div class="skeleton-profile-text">
        <div class="skeleton-text"></div>
        <div class="skeleton-text"></div>
      </div>
    </div>
  }
}
