@import '../../../../../styles/global/colors.scss';

.nav-active {
  color: $dv-green !important;
}

.nav-item {
  @apply w-full text-left py-2 block text-white;

  &:hover,
  &:focus {
    background: rgb(255, 255, 255, .1);
    color: $dv-green;
  }

  & mat-icon {
    transform: rotate(0deg);
    transition: 100ms;
  }
}

.nav-item.nav-active {
  & mat-icon {
    transform: rotate(90deg);
    transition: 100ms;
  }
}

.level-0 {
  @apply pl-4;
}

.level-1 {
  @apply pl-8 text-sm;
}

.level-2 {
  @apply pl-12 text-xs;
}
