<div>
  @switch (navItem.type) {
    @case (navType.Menu) {
      <button type="button" (click)="toggleNav()" [class]="'nav-item level-'+level" [ngClass]="{ 'nav-active': navItem.isOpen }">
        {{ navItem.name }}
        <mat-icon matSuffix class="float-right mr-2 text-white">chevron_right</mat-icon>
      </button>
      @if (navItem.isOpen) {
        <div>
          @for (item of navItem.items; track item) {
            <dvoss-nav-item [navItem]="item" [level]="nextLevel"></dvoss-nav-item>
          }
        </div>
      }
    }
    @case (navType.Internal) {
      <a [routerLink]="navItem.route" [class]="'nav-item level-'+level" [ngClass]="{ 'nav-active': navItem.isActive }">{{ navItem.name }}</a>
    }
    @case (navType.External) {
      <a [href]="navItem.route" [class]="'nav-item level-'+level" target="_blank">{{ navItem.name }}</a>
    }
  }
</div>