/* Optum Colors */
$dv-orange: #F16347;
$dv-green: #a5d6a7;
$dv-light-gray: #F5F5F5;
$dv-light-brow: #BFAFA6;
$dv-brown: #AA968A;

$nav-background-color: #444444;

$warning: #FF612B;
$error: #E31325;
$info: #002677;
$success: #35832f;

$button: #263238;
$button-focus: #435863;

